# Ignore configuration files
.env
access_token.json
data_access/src/contacts.csv

# Ignore Python bytecode files
__pycache__/
*.pyc
data_access/__pycache__/
*.pyc
venv/
.idea/

# Ignore Test files
tests_mercado_pago.py
tests_whatsapp.py
tests_splitwise.py
trash/

# Ignore csv and json files
*.csv
*.json